<h3>{{ 'My account'|i18n('administration/account') }}</h3>

<hr />

<ul>
    <li>
        <a href="">
            {{ 'My profile'|i18n('administration/account') }}
        </a>
    </li>
    <li>
        <a href="">
            {{ 'Change my password'|i18n('administration/account') }}
        </a>
    </li>
</ul>
