{% extends 'layouts/standard.twig' %}

{% block titre %}Accueil{% endblock %}

{% block body %}

    <div class="hero-unit">

        <h1>Sandra's</h1>
        <p>Une application simple pour montrer ce que l'on peut faire avec le <a rel="tootltip" title="Content management framework">CMF</a> <em>Sandra</em>.</p>
        <p>
            <a class="btn btn-primary btn-large" href="https://github.com/martin-damien/sandra" target="_blank">
                Acc&aecute;der au code
            </a>
        </p>

    </div>



{% endblock %}
