{% design_needs ['js/jquery.min.js', 'js/guggenheim.min.js'] %}

{% extends "layouts/standard.twig" %}

{% block title %}{{ 'Gallery'|i18n('fotografio/global') }}{% endblock %}

{% block body %}

    <h1>{{ 'Gallery'|i18n('fotografio/global') }}</h1>

{% endblock %}
