{% extends 'layouts/standard.twig' %}

{% block titre %}Identification{% endblock %}

{% block body %}

    <h1>Identifiez-vous</h1>

    {% if erreur %}
    <div class="erreur">
        {{ erreur }}
    </div>
    {% endif %}

    <form method="post" action="/nina/login">

        <p>
            <label for="login">Identifiant</label>
            <input type="text" id="login" name="login" placeholder="Votre dentifiant" required="required" />
        </p>

        <p>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Votre mot de passe" required="required" />
        </p>

        <p>
            <input type="submit" value="Me connecter" />
        </p>

    </form>

{% endblock %}
