{% extends 'layouts/standard.twig' %}

{% block title %}{{ DataMap.title }}{% endblock %}

{% block body %}

    <center>

        <img src="/sandra/extensions/sandra/design/standard/images/logo/logo_sandra_standard.png" />

        <h1>Sandra</h1>

    </center>

{% endblock %}
