<ul>
    <li>
        <a href="">
            Users list
        </a>
    </li>
    <li>
        <a href="">
            Usergroupp list
        </a>
    </li>
    <li>
        <a href="">
            Permissions
        </a>
    </li>
</ul>
