<!DOCTYPE html>
<html>

    <head>

        <title>{% block titre %}{%endblock%} - Nina</title>

        {{ bootstrap( {'responsive': false} ) }}
        {{ design_autoload() }}
        {{ lesscss() }}

    </head>

    <body>

        <menu>

        </menu>

        <article>
            {% block body %}{% endblock %}
        </article>

        <div id="viewport">
            Toto
        </div>

    </body>

</html>
