{% design_necessite ['less/phototheque.less', 'js/phototheque.js' ] %}

{% extends 'layouts/standard.twig' %}

{% block titre %}{{ galerie|capitalize }} - Galerie{% endblock %}

{% block body %}

    {% if afficher_dossiers == true %}

        <ul>
        {% for dossier in phototheque_get_dossiers() %}
            <li>
                {% set url_galerie = 'galerie//' ~ dossier %}
                <a href='{{ url_galerie|url_propre }}'>
                    {{ dossier }}
                </a>
            </li>
        {% endfor %}
        </ul>

    {% else %}

        <p>
            Affichage des images.
        </p>

    {% endif %}

    <div class="pagination">
        <ul>
            <li><a href="#">Prev</a></li>
            <li class="active">
            <a href="#">1</a>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>

{% endblock %}
